/************* ACR_2.scss *********************/
/************* My ACR *******************/


/*%buttons-style{
			max-width: 50px;
			height: 50px;
			border-radius: 50%;
		}*/

main{
	width: 100%;
	margin-left: 388px;
	margin-top: 83px;
	z-index: 1;
	/*padding: 10px 10px;*/
	.main-header-sec{
		@include main-header-size;
		.heading{
			padding: 10px 0;
			h3{
				@include heading-3;
				margin-bottom: 0;
			}			
		}
		.header-select{
			span{
				font-weight: bold;
				font-size: 14px;
				padding-right: 5px;
			}
			select{
				position: relative;
				padding: 5px 15px;
    			border: 2px solid #ccccccf7;
    			border-radius: 5px;
    			/*-webkit-appearance: none;*/
/*    			&::after{
					content: "f0d7";
					position: absolute;
					right: 0;
					top: 0;
					width: 50px;
					height: 50px;
					background: #000;
    			}*/
			}
		}

	}

	.list-unstyled{
		margin: 0;
		padding: 0;
		.media{
			padding: 30px 30px;
			border-bottom: 1px solid #E2E2E2;
			img{
				max-width: 70px;
				height: auto;
				border: 1px solid #000;
				border-radius: 50%;
			}
			.media-body{
				h5{
					@include heading-3;
					margin-bottom: 20px;
				}
				@include media-body-info;
			}
			.media-icons{
				@include media-icons-styling;
			}
		}
	}

}