/************ ACR_3 *******************/
/************ Media elements ***********/
.media{
		padding: 20px 40px 0 40px;
		img{
			max-width: 70px;
			height: auto;
			border: 1px solid #000;
			border-radius: 50%;
		}
		.media-body{
			padding: 20px 0;
			h5{
				@include heading-3;
				margin-bottom: 20px;
			}
			.media-element{
				@include media-body-info;
				padding: 5px 0;
			}
			.form-group{
				margin-bottom: 2rem;
				@include form-group-element;
					&:nth-child(2){
					margin-bottom: 0;
					}
			}
		}
		.media-icons{
				padding: 20px 0;
				@include media-icons-styling;
			}
	}
.feedback-section{
	padding: 20px 40px;
	.feedback-section-one{
		display: block;
		.form-check-inline{
			margin-right: 1.5rem;
			.form-check-label{
				
			}
		}
	}
	.feedback-section-two{
		margin: 20px 0;	
		.form-group{
			margin-bottom: 2rem;
			padding-right: 10px;
			label{
				@include label-style-text;
			}
			.form-control{
				border-radius: 0;
			}
			.form-textarea::placeholder{
				@include form-placeholder;
			}
			select{
				@include form-select-options;
			}
		}
	}
	.form-buttons{
		.btn-save{
			@extend %btn-placeholder;
			background-color: $pale-green-btn;
				@media #{$breakpoint-desktop-max} {
					padding: 15px 90px;
			    }
			&:hover{
				background-color: darken($pale-green-btn, 15%);
			}
		}
		.btn-submit{
			@extend %btn-placeholder;
			background-color: $blue-btn;
				@media #{$breakpoint-desktop-max} {
					padding: 15px 90px;
			    }
			&:hover{
				background-color: lighten($blue-btn, 15%);
			}
		}
	}
}
