/************ ACR_3 *******************/
/************ Media elements ***********/
.media{
		padding: 20px 30px;
		img{
			max-width: 70px;
			height: auto;
			border: 1px solid #000;
			border-radius: 50%;
		}
		.media-body{
			h5{
				@include heading-3;
				margin-bottom: 20px;
			}
			@include media-body-info;
			.form-group{
				@include form-group-element;
			}
		}
		.media-icons{
				@include media-icons-styling;
			}
	}
.feedback-section{
	padding: 20px 30px;
	.feedback-section-one{
		display: block;
		.form-check-inline{
			margin-right: 1.5rem;
			.form-check-label{
				
			}
		}
	}
	.feedback-section-two{
		margin: 20px 0;	
		.form-group{
			margin-bottom: 20px;
			padding-right: 10px;
			label{
				@include label-style-text;
			}
			.form-control{
				border-radius: 0;
			}
			.form-textarea::placeholder{
				@include form-placeholder;
			}
			.select_option{
				option{
					font-size: 12px;
				}
			}
		}
	}
	.form-buttons{
		.btn-save{
			@extend %btn-placeholder;
			background-color: $pale-green-btn;
			&:hover{
				background-color: darken($pale-green-btn, 15%);
			}
		}
		.btn-submit{
			@extend %btn-placeholder;
			background-color: $blue-btn;
			&:hover{
				background-color: lighten($blue-btn, 15%);
			}
		}
	}
}
