/***** acr_1.scss ****************/
/******** Form elements *********/



	.form{
		padding: rem(40px 40px);
/*		@media #{$breakpoint-mobile} {
			width: 55%;
		}*/

		.form-group{
			margin-bottom: 2rem;
			@include form-group-element;
			select{
				@include form-select-options;
				}
			.form-attachment{
				input[type="file"]{
					display: none;
				}
				p{
					@include label-style-text;
				}
				label{
					color: #000;
					width: 25%;
					background-color: #E6E6E6;
					border: 1px solid #DADADA;
					box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
					padding: rem(15px 0);
					display: flex;
					justify-content: space-evenly;
					align-items: center;
					font-size: rem(14px);
					font-weight: normal;
					letter-spacing: 0.5px;
					text-transform: capitalize;
					@media #{$breakpoint-tablet} {
						width: 70%;
					}
					@media #{$breakpoint-mobile} {
						width: 55%;
					}
				}
			}
			.form-check{
				/*padding: 10px 0 10px 1.25rem;*/
				input[type="checkbox"]{
					margin-top: .2rem;
					border: 1px solid #DADADA;
				}
					label{
						font-size: rem(14px);
						color:#000;
						font-weight: normal;
						text-transform: capitalize;
					}
				}	
			}
		.form-buttons{
			.btn{
				color: #fff;
				border: none;
			    font-family: inherit;
			    font-size: inherit;
			    color: inherit;
			    background: none;
			    cursor: pointer;
			    padding: 25px 80px;
			    display: inline-block;
			    margin: 15px 30px;
			    text-transform: uppercase;
			    letter-spacing: 1px;
			    font-weight: 700;
			    outline: none;
			    position: relative;
			    -webkit-transition: all 0.3s;
			    -moz-transition: all 0.3s;
			    transition: all 0.3s;
			    border-radius: 0 0 5px 5px;
			}
			.btn-save{
				/*@extend %btn-placeholder;*/
				box-shadow: 0 6px #4CB8C4;

				background-image: linear-gradient(to right, #3CD3AD 19%, #4CB8C4 100%);
					@media #{$breakpoint-desktop-max} {
						  padding: 15px 80px;
				    }
				&:hover{
					background-color: darken($pale-green-btn, 15%);
				}
			}
			.btn-submit{
				/*@extend %btn-placeholder;*/
				box-shadow: 0 6px #24C6DC;
				background-image: linear-gradient(to right, #24C6DC 0%, #514A9D 51%, #24C6DC 100%);
					@media #{$breakpoint-desktop-max} {
						padding: 15px 80px;
				    }
				&:hover{
					background-color: lighten($blue-btn, 15%);
				}
			}
		}
	}
