* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.media {
  padding: 20px 30px;
  /*border-bottom: 1px solid #E2E2E2;*/
  /*.media-icons{
			position: relative;
			.succes-icon{
				width: 50px;
				height: 50px;
				background-color: green;
				border: 1px solid #000;
				border-radius: 50%;
			}
			.failer-icon{
				position: absolute;
				top: 0;
				display: none;
				width: 50px;
				height: 50px;
				background-color: red;
				border: 1px solid #000;
				border-radius: 50%;
			}
		}*/ }
  .media img {
    max-width: 70px;
    height: auto;
    border: 1px solid #000;
    border-radius: 50%; }
  .media .media-body h5 {
    /*font-family: $font-family;*/
    font-weight: bold;
    font-size: 18px;
    /*line-height: 22px;*/
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 20px;
    /*font-weight: bold;
				font-size: 18px;*/ }
  .media .media-body .media-body-info:nth-child(3) {
    padding: 20px 0; }
  .media .media-body .media-body-info:last-child {
    margin-bottom: 10px; }
    .media .media-body .media-body-info:last-child p {
      font-weight: bold; }
  .media .media-body .media-body-info p {
    font-size: 14px;
    text-transform: uppercase;
    color: #333333; }
    .media .media-body .media-body-info p span {
      padding: 0 5px; }
  .media .media-body .form-group {
    /*margin-bottom: 20px;*/ }
    .media .media-body .form-group label {
      font-size: 18px;
      color: #000;
      margin-bottom: 20px;
      margin-top: 20px; }
    .media .media-body .form-group .form-control {
      border-radius: 0; }
    .media .media-body .form-group .form-textarea::placeholder {
      font-size: 12px;
      padding: 10px;
      color: #000; }
  .media .media-icons {
    position: relative; }
    .media .media-icons .succes-icon {
      /*width: 50px;
					height: 50px;*/
      /*background-color: green;
					border: 1px solid #000;
					border-radius: 50%;*/ }
      .media .media-icons .succes-icon img {
        border: none; }
    .media .media-icons .failer-icon {
      position: absolute;
      top: 0;
      display: none;
      /*width: 50px;
					height: 50px;
					background-color: red;
					border: 1px solid #000;
					border-radius: 50%;*/ }
      .media .media-icons .failer-icon img {
        border: none; }

.feedback-section {
  padding: 20px 30px; }
  .feedback-section .feedback-section-one {
    display: block; }
    .feedback-section .feedback-section-one .form-check-inline {
      margin-right: 1.5rem; }
  .feedback-section .feedback-section-two {
    margin: 20px 0; }
    .feedback-section .feedback-section-two .form-group {
      margin-bottom: 20px;
      padding-right: 10px; }
      .feedback-section .feedback-section-two .form-group label {
        font-size: 18px;
        color: #000;
        margin-bottom: 20px; }
      .feedback-section .feedback-section-two .form-group .form-control {
        border-radius: 0; }
      .feedback-section .feedback-section-two .form-group .form-textarea::placeholder {
        font-size: 12px;
        padding: 10px;
        color: #000; }
      .feedback-section .feedback-section-two .form-group .select_option option {
        font-size: 12px; }
  .feedback-section .form-buttons .btn-save, .feedback-section .form-buttons .btn-submit {
    border-radius: 20px;
    padding: 15px 80px;
    font-size: 14px;
    line-height: 15px;
    color: #fff;
    margin-right: 10px; }
  .feedback-section .form-buttons .btn-save {
    background-color: #04CDB5; }
  .feedback-section .form-buttons .btn-submit {
    background-color: #048CCD; }
