* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

main .form {
  padding: 30px 30px; }
  main .form .form-group {
    margin-bottom: 20px; }
    main .form .form-group label {
      font-size: 18px;
      color: #000; }
    main .form .form-group .form-control {
      border-radius: 0; }
    main .form .form-group .form-textarea::placeholder {
      font-size: 12px;
      padding: 10px; }
    main .form .form-group .select_option option {
      font-size: 12px; }
    main .form .form-group .custom-file {
      width: 50%; }
    main .form .form-group .form-check-input {
      border: 1px solid #DADADA; }
      main .form .form-group .form-check-input .form-check-label {
        font-size: 12px;
        color: #000; }
  main .form .save-btn, main .form .submit-btn {
    border-radius: 20px;
    padding: 15px 80px;
    font-size: 14px;
    line-height: 15px;
    color: #fff;
    margin-right: 10px; }
  main .form .save-btn {
    background-color: #04CDB5; }
  main .form .submit-btn {
    background-color: #048CCD; }
