html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*$color-orange: #fa8d03;
$color-gray: #757575;
$lighter-gray: #f9f9f9;
$light-gray: #f2f2f2;
$dark-gray: #626262;

$heading-font: 'Ubuntu', sans-serif;
$base-font: 'Roboto', sans-serif;*/
/*@media (max-width: 992px) {
        width: unset;
        font-size: 17px;
      }*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 1rem; }

.page-container {
  display: flex;
  width: 100%; }
  @media (max-width: 767px) {
    .page-container {
      display: flex;
      flex-direction: column;
      width: 100%; } }

.form .form-buttons .btn-save, .form .form-buttons .btn-submit, .feedback-section .form-buttons .btn-save, .feedback-section .form-buttons .btn-submit {
  border-radius: 20px;
  padding: 10px 80px;
  font-size: 14px;
  line-height: 15px;
  color: #fff;
  margin-right: 10px; }
  @media (max-width: 992px) {
    .form .form-buttons .btn-save, .form .form-buttons .btn-submit, .feedback-section .form-buttons .btn-save, .feedback-section .form-buttons .btn-submit {
      padding: 15px 90px; } }

/*@import 'partials/typography';*/
header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  /*padding: 10px 20px;*/
  background: #F4F4F4;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  position: fixed;
  z-index: 5;
  /*	.logo{
		max-width: 163px;
		height: auto;
		    @media (max-width: 767px){
				/*order: 2;*/
  /*max-width: 100%;
				height: auto;*/
  /*    	}
	}*/ }
  @media (max-width: 767px) {
    header {
      display: flex;
      justify-content: space-around; } }
  header .navbar {
    flex: 1;
    background: #F4F4F4 !important; }
    header .navbar .navbar-collapse {
      justify-content: center; }
      @media (max-width: 767px) {
        header .navbar .navbar-collapse {
          border-top: 1px solid #292b31; } }
      header .navbar .navbar-collapse .navbar-nav {
        text-align: center; }
        header .navbar .navbar-collapse .navbar-nav .nav-item {
          list-style: outside none none;
          padding: 0px 10px; }
          @media (min-width: 768px) and (max-width: 991px) {
            header .navbar .navbar-collapse .navbar-nav .nav-item {
              padding-right: 10px; }
              header .navbar .navbar-collapse .navbar-nav .nav-item:last-child {
                padding-right: 0; } }
          @media (min-width: 992px) {
            header .navbar .navbar-collapse .navbar-nav .nav-item {
              padding: 0px 20px; } }
        header .navbar .navbar-collapse .navbar-nav .nav-link {
          font-weight: bold;
          font-size: 14px;
          padding: 0px;
          height: 40px;
          line-height: 40px;
          position: relative;
          display: inline-block;
          color: #1d1f24;
          text-transform: uppercase; }
          @media (max-width: 767px) {
            header .navbar .navbar-collapse .navbar-nav .nav-link {
              height: auto;
              margin: 0 auto;
              line-height: 0px;
              padding: 20px 0px;
              font-size: 14px; } }
          header .navbar .navbar-collapse .navbar-nav .nav-link::after {
            content: '';
            display: block;
            width: 0;
            height: 3px;
            background: #048CCD;
            transition: width .3s;
            margin-top: 10px; }
          header .navbar .navbar-collapse .navbar-nav .nav-link:hover::after {
            width: 100%;
            transition: all .3s ease; }
  header .user-drop-down {
    display: flex;
    align-items: center;
    max-width: 20%;
    padding: 0 19px; }
    @media (min-width: 1200px) {
      header .user-drop-down {
        max-width: 20%;
        padding: 0 19px; } }
    @media (max-width: 767px) {
      header .user-drop-down {
        /*order: 3;*/
        margin: auto; } }
    header .user-drop-down h3 {
      font-weight: bold;
      font-size: 18px;
      text-transform: uppercase;
      color: #000000;
      margin-bottom: 0;
      letter-spacing: 0.5px;
      display: inline-block;
      color: #1d1f24; }
      @media (min-width: 768px) and (max-width: 991px) {
        header .user-drop-down h3 {
          font-size: 14px; } }
    header .user-drop-down img {
      max-width: 43px;
      height: auto;
      display: inline-block;
      border-radius: 50%; }

aside {
  height: 100vh;
  border-right: 1px solid #E2E2E2;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  padding: 94px 20px 0 20px;
  z-index: 3;
  -webkit-transform: none;
  transform: none;
  transition: transform 300ms linear; }
  @media (max-width: 767px) {
    aside {
      transform: translateX(-100%);
      transition: transform 300ms linear;
      /*display: none;*/ } }
  aside .aside_logo {
    text-align: center; }
    aside .aside_logo img {
      max-width: 150px;
      height: auto;
      border-radius: 50%;
      border: 1px solid #000;
      transition: 0.3s; }
  aside .user-short-description {
    transition: 0.3s; }
    aside .user-short-description h3 {
      font-weight: bold;
      font-size: 18px;
      text-transform: uppercase;
      color: #000000;
      margin-bottom: 0;
      letter-spacing: 0.5px; }
    aside .user-short-description p {
      font-weight: normal;
      font-size: 14px;
      color: #878787;
      margin: 15px 0; }
    aside .user-short-description .button a {
      color: #fff; }
      aside .user-short-description .button a:link {
        background: #048CCD;
        border-radius: 20px;
        padding: 10px 40px;
        color: #fff;
        font-size: 14px;
        text-decoration: none;
        transition: color .8s; }
        aside .user-short-description .button a:link:hover {
          text-decoration: none;
          cursor: pointer;
          color: #fff;
          background-color: #035982; }
  aside .user-short-description-two {
    transition: 0.3s;
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    aside .user-short-description-two .joining-date,
    aside .user-short-description-two .experience-in,
    aside .user-short-description-two .experience-out {
      display: flex;
      flex-direction: column;
      padding: 10px;
      font-size: 14px;
      text-align: center;
      border-right: 1px solid #E2E2E2; }
      aside .user-short-description-two .joining-date:last-child,
      aside .user-short-description-two .experience-in:last-child,
      aside .user-short-description-two .experience-out:last-child {
        border-right: none; }
      aside .user-short-description-two .joining-date p,
      aside .user-short-description-two .experience-in p,
      aside .user-short-description-two .experience-out p {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 0;
        padding: 0 15px; }
        aside .user-short-description-two .joining-date p:first-child,
        aside .user-short-description-two .experience-in p:first-child,
        aside .user-short-description-two .experience-out p:first-child {
          padding-right: 0; }
        aside .user-short-description-two .joining-date p span,
        aside .user-short-description-two .experience-in p span,
        aside .user-short-description-two .experience-out p span {
          display: block;
          font-weight: normal;
          padding-top: 15px; }
  aside .footer-logo {
    transition: 0.3s;
    position: absolute;
    bottom: 4%;
    left: 35%; }
    aside .footer-logo img {
      max-width: 95px;
      height: auto; }

main {
  width: 100%;
  margin-left: 403px;
  margin-top: 83px;
  z-index: 1; }
  @media (max-width: 767px) {
    main {
      display: block;
      width: 100%;
      margin-left: 0;
      margin-top: 83px; } }

/***** acr_1.scss ****************/
/******** Form elements *********/
.form {
  padding: 40px 40px;
  /*		@media (max-width: 767px) {
			width: 55%;
		}*/ }
  .form .form-group {
    margin-bottom: 2rem; }
    .form .form-group label {
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;
      color: #000;
      margin-bottom: 15px;
      letter-spacing: 0.5px; }
    .form .form-group .form-control {
      border-radius: 0; }
    .form .form-group .form-textarea::placeholder {
      font-size: 12px;
      padding: 10px;
      color: #000; }
    .form .form-group select option {
      font-size: 14px; }
    .form .form-group .form-attachment input[type="file"] {
      display: none; }
    .form .form-group .form-attachment p {
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;
      color: #000;
      margin-bottom: 15px;
      letter-spacing: 0.5px; }
    .form .form-group .form-attachment label {
      color: #000;
      width: 25%;
      background-color: #E6E6E6;
      border: 1px solid #DADADA;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
      padding: 15px 0;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      font-size: 14px;
      font-weight: normal;
      letter-spacing: 0.5px;
      text-transform: capitalize; }
      @media (max-width: 767px) {
        .form .form-group .form-attachment label {
          width: 55%; } }
    .form .form-group .form-check {
      padding: 10px 0 10px 1.25rem; }
      .form .form-group .form-check input[type="checkbox"] {
        margin-top: .2rem;
        border: 1px solid #DADADA; }
      .form .form-group .form-check label {
        font-size: 14px;
        color: #000;
        font-weight: normal;
        text-transform: capitalize; }
  .form .form-buttons .btn-save {
    background-color: #04CDB5; }
    @media (min-width: 768px) and (max-width: 991px) {
      .form .form-buttons .btn-save {
        padding: 10px 70px; } }
    @media (max-width: 767px) {
      .form .form-buttons .btn-save {
        padding: 10px 70px; } }
    .form .form-buttons .btn-save:hover {
      background-color: #038273; }
  .form .form-buttons .btn-submit {
    background-color: #048CCD; }
    @media (min-width: 768px) and (max-width: 991px) {
      .form .form-buttons .btn-submit {
        padding: 10px 70px; } }
    @media (max-width: 767px) {
      .form .form-buttons .btn-submit {
        padding: 10px 70px; } }
    .form .form-buttons .btn-submit:hover {
      background-color: #23b5fb; }

/************* ACR_2.scss *********************/
/************* My ACR *******************/
.main-header-sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  border-bottom: 1px solid #E2E2E2; }
  .main-header-sec .heading {
    padding: 10px 0; }
    .main-header-sec .heading h3 {
      font-weight: bold;
      font-size: 18px;
      text-transform: uppercase;
      color: #000000;
      margin-bottom: 0;
      letter-spacing: 0.5px;
      margin-bottom: 0; }
  .main-header-sec .header-select span {
    font-weight: bold;
    font-size: 14px;
    padding-right: 5px; }
  .main-header-sec .header-select select {
    position: relative;
    padding: 5px 15px;
    border: 2px solid #ccccccf7;
    border-radius: 5px; }

.list-unstyled {
  margin: 0;
  padding: 0; }
  .list-unstyled .media {
    padding: 30px 30px;
    border-bottom: 1px solid #E2E2E2; }
    .list-unstyled .media img {
      max-width: 70px;
      height: auto;
      border: 1px solid #000;
      border-radius: 50%; }
    .list-unstyled .media .media-body {
      padding-top: 10px; }
      .list-unstyled .media .media-body h5 {
        font-weight: bold;
        font-size: 18px;
        text-transform: uppercase;
        color: #000000;
        margin-bottom: 0;
        letter-spacing: 0.5px;
        margin-bottom: 20px; }
      .list-unstyled .media .media-body .media-body-info {
        padding-bottom: 20px; }
        @media (max-width: 767px) {
          .list-unstyled .media .media-body .media-body-info {
            padding-bottom: 0; }
            .list-unstyled .media .media-body .media-body-info p {
              display: block;
              margin-bottom: 20px; } }
        .list-unstyled .media .media-body .media-body-info:last-child p span {
          font-weight: bold;
          text-transform: capitalize; }
        .list-unstyled .media .media-body .media-body-info p {
          font-size: 14px;
          text-transform: uppercase;
          color: #333333;
          letter-spacing: 0.5px; }
          .list-unstyled .media .media-body .media-body-info p span {
            padding: 0 5px; }
    .list-unstyled .media .media-icons {
      padding-top: 10px;
      position: relative; }
      .list-unstyled .media .media-icons .succes-icon img {
        border: none; }
      .list-unstyled .media .media-icons .failer-icon {
        position: absolute;
        top: 0;
        display: none; }
        .list-unstyled .media .media-icons .failer-icon img {
          border: none; }

/************ ACR_3 *******************/
/************ Media elements ***********/
.media {
  padding: 20px 40px 0 40px; }
  .media img {
    max-width: 70px;
    height: auto;
    border: 1px solid #000;
    border-radius: 50%; }
  .media .media-body {
    padding: 20px 0; }
    .media .media-body h5 {
      font-weight: bold;
      font-size: 18px;
      text-transform: uppercase;
      color: #000000;
      margin-bottom: 0;
      letter-spacing: 0.5px;
      margin-bottom: 20px; }
    .media .media-body .media-element {
      padding: 5px 0; }
      .media .media-body .media-element .media-body-info {
        padding-bottom: 20px; }
        @media (max-width: 767px) {
          .media .media-body .media-element .media-body-info {
            padding-bottom: 0; }
            .media .media-body .media-element .media-body-info p {
              display: block;
              margin-bottom: 20px; } }
        .media .media-body .media-element .media-body-info:last-child p span {
          font-weight: bold;
          text-transform: capitalize; }
        .media .media-body .media-element .media-body-info p {
          font-size: 14px;
          text-transform: uppercase;
          color: #333333;
          letter-spacing: 0.5px; }
          .media .media-body .media-element .media-body-info p span {
            padding: 0 5px; }
    .media .media-body .form-group {
      margin-bottom: 2rem; }
      .media .media-body .form-group label {
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        color: #000;
        margin-bottom: 15px;
        letter-spacing: 0.5px; }
      .media .media-body .form-group .form-control {
        border-radius: 0; }
      .media .media-body .form-group .form-textarea::placeholder {
        font-size: 12px;
        padding: 10px;
        color: #000; }
      .media .media-body .form-group:nth-child(2) {
        margin-bottom: 0; }
  .media .media-icons {
    padding: 20px 0;
    position: relative; }
    .media .media-icons .succes-icon img {
      border: none; }
    .media .media-icons .failer-icon {
      position: absolute;
      top: 0;
      display: none; }
      .media .media-icons .failer-icon img {
        border: none; }

.feedback-section {
  padding: 20px 40px; }
  .feedback-section .feedback-section-one {
    display: block; }
    .feedback-section .feedback-section-one .form-check-inline {
      margin-right: 1.5rem; }
  .feedback-section .feedback-section-two {
    margin: 20px 0; }
    .feedback-section .feedback-section-two .form-group {
      margin-bottom: 2rem;
      padding-right: 10px; }
      .feedback-section .feedback-section-two .form-group label {
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        color: #000;
        margin-bottom: 15px;
        letter-spacing: 0.5px; }
      .feedback-section .feedback-section-two .form-group .form-control {
        border-radius: 0; }
      .feedback-section .feedback-section-two .form-group .form-textarea::placeholder {
        font-size: 12px;
        padding: 10px;
        color: #000; }
      .feedback-section .feedback-section-two .form-group select option {
        font-size: 14px; }
  .feedback-section .form-buttons .btn-save {
    background-color: #04CDB5; }
    @media (min-width: 1200px) {
      .feedback-section .form-buttons .btn-save {
        padding: 15px 90px; } }
    .feedback-section .form-buttons .btn-save:hover {
      background-color: #038273; }
  .feedback-section .form-buttons .btn-submit {
    background-color: #048CCD; }
    @media (min-width: 1200px) {
      .feedback-section .form-buttons .btn-submit {
        padding: 15px 90px; } }
    .feedback-section .form-buttons .btn-submit:hover {
      background-color: #23b5fb; }

/*$font-family: 'Montserrat', sans-serif;
$header-bgcolor: #F4F4F4;*/
