
aside{
    height: 100vh;
    border-right: 1px solid $screen-line;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    padding: 94px 20px 0 20px;
    z-index: 3;
    -webkit-transform: none;
    transform: none;
    transition: transform 300ms linear;


    @media #{$breakpoint-mobile}{
        transform: translateX(-100%);
        transition: transform 300ms linear;
        /*display: none;*/        
    }
    .aside_logo{
		text-align: center;
		img{
			max-width: 150px;
			height: auto;
			border-radius: 50%;
			border: 1px solid #000;
            transition: 0.3s;
		}
    }
    .user-short-description{
        transition: 0.3s;
    	h3{
    		@include heading-3;
    	}
    	p{
    		font-weight: normal;
			font-size: 14px;	
			color: #878787;
			margin: 15px 0;
    	}
    	.button{

    		a{
    			color:#fff;
    			&:link{
					background: $aside-button-link;
					border-radius: 20px;
					padding: 10px 40px;
					color: #fff;
					font-size: 14px;
					text-decoration: none;
                    transition: color .8s;
					&:hover{
						text-decoration: none;
						cursor: pointer;
						color: #fff;
                        background-color: darken($aside-button-link, 15%);
			     	}
    			}
    		}
    	}
    }
    .user-short-description-two{
        transition: 0.3s;
    	margin: 20px 0;
    	display: flex;
    	flex-direction: row;
    	flex-wrap: wrap;
    	.joining-date,
    	.experience-in,
    	.experience-out{
    		display: flex;
    		flex-direction: column;
    		padding: 10px;
    		font-size: 14px;
  			text-align: center;
  			border-right: 1px solid $screen-line;
				&:last-child{
					border-right: none;
				}
				p{
					font-size: 14px;
					font-weight: bold;
					margin-bottom: 0;
					padding: 0 15px;
					&:first-child{
						padding-right: 0;
					}
					& span{
						display: block;
						font-weight: normal;
						padding-top: 10px;
					}
				}

    	}
    }
    .footer-logo{
        transition: 0.3s;
    	position: absolute;
    	bottom: 4%;
    	left: 35%;
    	img{
    		max-width: 95px;
    		height: auto;
    	}
    }
}