
header{
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	/*padding: 10px 20px;*/
	background: $header-bgcolor;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
	position: fixed;
    z-index: 5;
       @media #{$breakpoint-mobile}{
		display: flex;
		justify-content: space-around;
    }
/*	.logo{
		max-width: 163px;
		height: auto;
		    @media #{$breakpoint-mobile}{
				/*order: 2;*/
				/*max-width: 100%;
				height: auto;*/
/*    	}
	}*/

	.navbar{
			flex: 1;
			background: $header-bgcolor !important;
			
				@media #{$breakpoint-mobile}{
			}
			.navbar-collapse{
				justify-content: center;
				@media #{$breakpoint-mobile}{
					border-top: 1px solid #292b31;
				}
					.navbar-nav{
						text-align: center;
						.nav-item{
							list-style: outside none none;
    						padding: 0px 10px;
    						@media #{$breakpoint-tablet}{
    							padding-right: 10px;
    							&:last-child{
    								padding-right: 0;
    							}
    						}
    						@media #{$breakpoint-tablet-min}{
    							padding: 0px 20px;
							}
						}
					.nav-link{
					    font-weight: bold;
					    font-size: 14px;
					    padding: 0px;
					    height: 40px;
					    line-height: 40px;
					    position: relative;
					    display: inline-block;
					    color: #1d1f24;
					    text-transform: uppercase;
					@media #{$breakpoint-mobile}{
						height: auto;
					    margin: 0 auto;
					    line-height: 0px;
					    padding: 20px 0px;
					    font-size: 14px;		
    					}
						&::after{
							content: '';
							display: block;
							width: 0;
							height: 3px;
							background: #048CCD;
							transition: width .3s;	
							margin-top: 10px;			
						}
						&:hover::after{
							width: 100%;
							transition: all .3s ease;
						}
					}
				}
			}
		}	
	.user-drop-down{
		display: flex;
		align-items: center;
		max-width: 20%;
		padding: 0 19px;
			@media #{$breakpoint-desktop-max}{
				max-width: 20%;
				padding: 0 19px;
			}
			@media #{$breakpoint-mobile}{
				/*order: 3;*/
				margin: auto;
    		}
		h3{
			@include heading-3;
			display: inline-block;
			color: #1d1f24;
			@media #{$breakpoint-tablet}{
    			font-size: 14px;
    		}
		}
		img{
			max-width: 43px;
			height: auto;
			display: inline-block;
			border-radius: 50%;
		}
	}
}