
header{
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	background: $header-bgcolor;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
	position: fixed;
    z-index: 5;
       @media #{$breakpoint-mobile}{
		display: flex;
		justify-content: space-around;
    }
	.logo{
		max-width: 163px;
		height: auto;
		    @media #{$breakpoint-mobile}{
				order: 2;
				/*max-width: 100%;
				height: auto;*/
    	}
	}
	.navbar{
			flex: 1;
			/*justify-content: center;*/
				@media #{$breakpoint-mobile}{
				order: 1;
    		}
			.navbar-collapse{
				justify-content: center;
				padding: 10px 10px;
				.navbar-nav{
					.nav-link{
					font-weight: bold;
					font-size: 14px;
					text-transform: uppercase;
					padding: 0 16px;
					color: #000;
						&::after{
							content: '';
							display: block;
							width: 0;
							height: 2px;
							background: #00448b;
							transition: width .3s;	
							margin-top: 10px;				
						}
						&:hover::after{
							width: 100%;
							transition: width .3s;
						}
					}
				}
			}
		}	
	.user-drop-down{

		display: flex;
		align-items: center;
		max-width: 20%;
		padding: 0 19px;
			@media #{$breakpoint-mobile}{
				order: 3;
    		}
		h3{
			@include heading-3;
			display: inline-block;
		}
		img{
			max-width: 43px;
			height: auto;
			display: inline-block;
			border-radius: 50%;
		}
	}
}